/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [NHS Number]
      ,[Date of Birth]
      ,[Postcode]
      ,[Generated Record Identifier]
      ,[Reason for Access]
      ,[CDS type]
      ,[Protocol identifier]
      ,[Unique CDS identifier]
      ,[Update type]
      ,[Bulk replacement CDS group]
      ,[Test indicator]
      ,[Applicable date time]
      ,[Census date]
      ,[Extract Date Time]
      ,[Report period Start Date]
      ,[Report period End Date]
      ,[Organisation code  Sender of transaction]
      ,[Organisation Code Type of Sender]
      ,[CDS Interchange ID]
      ,[Organisation Code (Local Patient Identifier)]
      ,[Organisation Code Type (Local Patient Identifier)]
      ,[Carer Support Indicator]
      ,[NHS Number Trace Status]
      ,[Withheld Identity Reason]
      ,[Sex]
      ,[Organisation Code (Residence Responsibility)]
      ,[PCT of Residence]
      ,[Organisation Code Type (PCT of Residence)]
      ,[Ethnic Category]
      ,[OSV Classification at CDS Activity Date]
      ,[General Medical Practitioner Code of Registered GMP]
      ,[Practice Code of Registered GP]
      ,[Organisation Code Type of Registered GP]
      ,[A&E Attendance Number]
      ,[A&E Arrival Mode]
      ,[A&E Attendance Category]
      ,[A&E Attendance Disposal]
      ,[A&E Incident Location Type]
      ,[A&E Patient Group]
      ,[Source of Referral For A&E]
      ,[Arrival Date]
      ,[Arrival Time]
      ,[A&E Attendance Conclusion Time]
      ,[A&E Attendance Conclusion Date]
      ,[A&E Departure Time]
      ,[A&E Departure Date]
      ,[A&E Initial Assessment Time (first and unplanned follow-up attendances only)]
      ,[A&E Initial Assessment Date]
      ,[A&E Time Seen For Treatment]
      ,[Site Code (Of Treatment)]
      ,[Waiting Time Measurement Type]
      ,[Ambulance Incident Number]
      ,[Organisation Code (Conveying Ambulance Trust)]
      ,[Commissioning Serial Number]
      ,[NHS Service Agreement Line Number]
      ,[Provider Reference Number]
      ,[Commissioner Reference Number]
      ,[Organisation Code (Code of Provider)]
      ,[Organisation Code Type (of Provider)]
      ,[Organisation Code (Code of Commissioner)]
      ,[Organisation Code Type (of Commissioner)]
      ,[A&E Staff Member Code]
      ,[Diagnosis Scheme In Use]
      ,[Accident And Emergency Diagnosis - First]
      ,[Accident And Emergency Diagnosis - Second]
      ,[Accident And Emergency Diagnosis - Third]
      ,[Accident And Emergency Diagnosis - Fourth]
      ,[Accident And Emergency Diagnosis - Fifth]
      ,[Accident And Emergency Diagnosis - Sixth]
      ,[Accident And Emergency Diagnosis - Seventh]
      ,[Accident And Emergency Diagnosis - Eighth]
      ,[Accident And Emergency Diagnosis - Ninth]
      ,[Accident And Emergency Diagnosis - Tenth]
      ,[Accident And Emergency Diagnosis - Eleventh]
      ,[Accident And Emergency Diagnosis - Twelfth]
      ,[Accident And Emergency Diagnosis - Thirteenth]
      ,[Accident And Emergency Diagnosis - Fourteenth]
      ,[Accident And Emergency Diagnosis - Fifteenth]
      ,[Accident And Emergency Diagnosis - Sixteenth]
      ,[Accident And Emergency Diagnosis - Seventeenth]
      ,[Accident And Emergency Diagnosis - Eighteenth]
      ,[Accident And Emergency Diagnosis - Nineteenth]
      ,[Accident And Emergency Diagnosis - Twentieth]
      ,[Accident And Emergency Diagnosis - Twenty First]
      ,[Accident And Emergency Diagnosis - Twenty Second]
      ,[Accident And Emergency Diagnosis - Twenty Third]
      ,[Accident And Emergency Diagnosis - Twenty Fourth]
      ,[Investigation Scheme In Use]
      ,[Accident And Emergency Investigation - First]
      ,[Accident And Emergency Investigation - Second]
      ,[Accident And Emergency Investigation - Third]
      ,[Accident And Emergency Investigation - Fourth]
      ,[Accident And Emergency Investigation - Fifth]
      ,[Accident And Emergency Investigation - Sixth]
      ,[Accident And Emergency Investigation - Seventh]
      ,[Accident And Emergency Investigation - Eighth]
      ,[Accident And Emergency Investigation - Ninth]
      ,[Accident And Emergency Investigation - Tenth]
      ,[Accident And Emergency Investigation - Eleventh]
      ,[Accident And Emergency Investigation - Twelfth]
      ,[Accident And Emergency Investigation - Thirteenth]
      ,[Accident And Emergency Investigation - Fourteenth]
      ,[Accident And Emergency Investigation - Fifteenth]
      ,[Accident And Emergency Investigation - Sixteenth]
      ,[Accident And Emergency Investigation - Seventeenth]
      ,[Accident And Emergency Investigation - Eighteenth]
      ,[Accident And Emergency Investigation - Nineteenth]
      ,[Accident And Emergency Investigation - Twentieth]
      ,[Accident And Emergency Investigation - Twenty First]
      ,[Accident And Emergency Investigation - Twenty Second]
      ,[Accident And Emergency Investigation - Twenty Third]
      ,[Accident And Emergency Investigation - Twenty Fourth]
      ,[Treatment Scheme In Use]
      ,[Accident And Emergency Treatment - First]
      ,[Accident And Emergency Treatment - Second]
      ,[Accident And Emergency Treatment - Third]
      ,[Accident And Emergency Treatment - Fourth]
      ,[Accident And Emergency Treatment - Fifth]
      ,[Accident And Emergency Treatment - Sixth]
      ,[Accident And Emergency Treatment - Seventh]
      ,[Accident And Emergency Treatment - Eighth]
      ,[Accident And Emergency Treatment - Ninth]
      ,[Accident And Emergency Treatment - Tenth]
      ,[Accident And Emergency Treatment - Eleventh]
      ,[Accident And Emergency Treatment - Twelfth]
      ,[Accident And Emergency Treatment - Thirteenth]
      ,[Accident And Emergency Treatment - Fourteenth]
      ,[Accident And Emergency Treatment - Fifteenth]
      ,[Accident And Emergency Treatment - Sixteenth]
      ,[Accident And Emergency Treatment - Seventeenth]
      ,[Accident And Emergency Treatment - Eighteenth]
      ,[Accident And Emergency Treatment - Nineteenth]
      ,[Accident And Emergency Treatment - Twentieth]
      ,[Accident And Emergency Treatment - Twenty First]
      ,[Accident And Emergency Treatment - Twenty Second]
      ,[Accident And Emergency Treatment - Twenty Third]
      ,[Accident And Emergency Treatment - Twenty Fourth]
      ,[HRG Code]
      ,[HRG Version Number]
      ,[Procedure Scheme In Use]
      ,[Dominant Grouping Variable - Procedure]
      ,[FCE HRG]
      ,[Spell CORE HRG Version No]
      ,[PBR Generated Core HRG (for Information)]
      ,[PBR Generated Core HRG Version (for Information)]
      ,[Unique Booking Reference Number Converted]
      ,[Patient Pathway Identifier]
      ,[Organisation Code Patient Pathway Identifier Issuer]
      ,[Referral To Treatment Period Status]
      ,[Referral To Treatment Period Start Date]
      ,[Referral To Treatment Period End Date]
      ,[Lead Care Activity Indicator]
      ,[Age at CDS Activity Date]
      ,[NHS Service Agreement Change Date]
      ,[CDS Activity Date]
      ,[A&E Department Type]
      ,[XML Version]
      ,[Confidentiality Category (Derived)]
      ,[Referral To Treatment Length (Derived)]
      ,[AE Assessment Wait Time]
      ,[AE Conclusion Wait Time]
      ,[AE Duration]
      ,[AE Treatment Wait]
      ,[Age range patient derived from DOB]
      ,[Area code derived from postcode ]
      ,[CDS Group]
      ,[Finished Indicator]
      ,[PCT (Derived from GP)]
      ,[PCT Type (Derived from GP)]
      ,[GP Practice (Derived)]
      ,[PCT (Derived from derived GP Practice)]
      ,[SHA from GP Practice]
      ,[SHA Type from GP Practice]
      ,[Month of Birth]
      ,[Electoral Ward from postcode]
      ,[PCT from postcode]
      ,[PCT Type from Postcode]
      ,[SHA from Postcode]
      ,[SHA Type from Postcode]
      ,[Area code from Provider Postcode]
      ,[Age at End of Episode]
      ,[Age at Start of Episode]
      ,[Year of Birth]
      ,[2001 Census Area]
      ,[Country]
      ,[County Code]
      ,[1991 Census ED]
      ,[ED District Code]
      ,[Electoral Ward Code]
      ,[GOR Code]
      ,[Local Unitary Authority]
      ,[Old SHA Code]
      ,[1998 Electoral Area]
      ,[ETLBatchDate]
      ,[ETLDataSourceID]
      ,[ETLDataSourcePath]
      ,[ETLLogID]
      ,[ETLStartDate]
      ,[ETLEndDate]
  FROM [DSCRO].[Torbay].[sem_AccidentEmergency]
  WHERE CAST([Arrival Date] AS DATE) >= '20160401'
  --(
  --SELECT CAST(MAX([ETLStartDate]) AS DATE) FROM [DSCRO].[Torbay].[sem_AccidentEmergency]
  --)
  --ORDER BY CAST([ETLStartDate] AS DATETIME) desc
  
  
   SELECT * --DISTINCT CAST(CAST([mod_date] AS DATE) AS DATETIME) AS [Run Date],COUNT(*)
 FROM [dbo].[extract_cds_out_history_SSIS]
 WHERE Arrival_Date >= '20160401'